body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

.imgs {
  width: 60%;
  float: left;
  height: 100vh;
  background-color: rgba(252, 252, 255, 0.705);
}

.contenedor {
  width: 40%;
  height: 100vh;
  float: right;
  background: rgb(153, 0, 255);
}

.contenedor h1 {
  text-align: center;
  color: white;
}

@media (max-width: 420px) {
  .contenedor {
    width: 100%;
    float: none;
    background-color: white;
  }

  .contenedor h1 {
    color: black;
    font-size: 20px;
    margin-bottom: 10%;
  }
}

.contenedor label {
  width: 60%;
  margin: 2rem 20%;
  font-weight: 600;
  color: white;
}

.contenedor input {
  width: 60%;
  margin: 2% 20%;
  padding: 1%;
}

@media (max-width: 420px) {
  .contenedor label {
    color: black;
  }

  .contenedor input {
    margin: 3% 20%;
    padding: 1.5%;
    margin-bottom: 1%;
  }
}

.contenedor .Restablecer {
  width: 40%;
  margin: 10% 30%;
  background: rgb(253, 0, 0);
  color: white;
  border: none;
  padding: 1.5%;
  border-radius: 5px;
}
@media (max-width: 420px) {
  .contenedor .Restablecer{
    width: 60%;
    margin: 10% 20%;
    padding: 2%;
    font-weight: 700;
  }
}
.contenedor .Restablecer:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: white 0px 0px 20px 6px;
}

.contenedor a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}


.imgs img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 60%;
  height: 100vh;
  transition: opacity 0.2s infinite;
}

@media (max-width: 420px) {
  .imgs {
    width: 0%;
    height: 0vh;
  }

  .imgs img {
    width: 0%;
    height: 0%;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  53.33% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.imgs img:nth-child(1) {
  animation: imageAnimation 5s infinite;
}

.imgs img:nth-child(2) {
  animation: imageAnimation 5s infinite 5s;
}

.imgs img:nth-child(3) {
  animation: imageAnimation 5s infinite 10s;
}

.imgs img:nth-child(4) {
  animation: imageAnimation 5s infinite 15s;
}

.imgs img:nth-child(5) {
  animation: imageAnimation 5s infinite 10s;
}